.nav {
  grid-area: n;
  background-color: rgba(220, 151, 223, 0.801);
  padding: 20px;
}

.item a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.item a.active {
  color: blueviolet;
}
