.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  color: #4e5560;
  padding: 10px;
  cursor: pointer;
}

.dialogsItems .dialogsItems .active {
  color: #fafafa;
}

.dialogsItems a:hover {
  background-color: #bfc2c7ba;
}

.dialog {
}

.messages {
  color: #4e5560;
  padding: 10px;
}

.message {
}
